{% extends 'users/base_profile.html' %}
{% load crispy_forms_tags %}

{% block title %} Cambia la password {% endblock %}

{% block profile_content %}
    <div class="container-fluid flex-grow-1 d-flex justify-content-center align-items-center">
    <div class="card align-self-center mx-4 w-100 px-3 py-2 bg-body-tertiary border-primary shadow">
        <h3 class="text-primary">Cambia la password</h3>
        {% crispy form %}
        <a class="icon-link icon-link-hover mb-2" style="--bs-icon-link-transform: translate3d(-.125rem, 0, 0);" href="{% url 'users:update_user' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
            Torna indietro
        </a>
    </div>
    </div>
{% endblock %}