{% extends 'users/base_profile.html' %}
{% load crispy_forms_tags %}

{% block title %} Profile settings {% endblock %}

{% block profile_content %}
    <h1>Profilo di {{ user.username }}</h1>

    {% crispy form %}

    <div class="d-flex flex-row w-100 border-top py-3 justify-content-baseline">
    <a class="btn btn-outline-primary me-3" href="{% url 'users:change_password' %}">cambia la password</a>
    <a class="btn btn-danger" href="{% url 'users:delete_user' %}">elimina il profilo</a>
    </div>
{% endblock %}