{% extends 'users/base_profile.html' %}
{% load crispy_forms_tags %}

{% block title %} Profile settings {% endblock %}

{% block profile_content %}
    <h1>Profilo di {{ user.username }}</h1>

    {% crispy form %}

    <hr>
    <a class="link" href="{% url 'users:change_password' %}">cambia la password</a>
    <div class="w-100 rounded mt-3 p-3 justify-content-between" style="background: repeating-linear-gradient(135deg,#fff,#fff 10px,#ffe1e1 10px,#ffe1e1 20px);">
        <h3 class="text-danger">Zona pericolosa</h3>
        <a class="btn btn-danger" href="{% url 'users:delete_user' %}">elimina il profilo</a>
    </div>
{% endblock %}