{% extends 'base.html' %}

{% block title %}
	{{ object }}
{% endblock %}

{% block content %}
    <h1>{{ object }}</h1>
    {% if not evento.evento_attivo %}
    	<h2>Evento passato</h2>
    {% endif %}
    <span>Tags:
        {% for tag in object.tags.names %}
            <a href="{% url 'eventi:eventi_tag' tag=tag %}">{{ tag }}</a>
        {% endfor %}
    </span>
    <p>{{ object.descrizione }}</p>

    <a href="{% url 'eventi:dettagli_luogo' pk=object.luogo.pk %}">{{ object.luogo }}</a>
    {% if object.evento_attivo %}
        {#    Form per esprimere interesse    #}
        <form action="{% url 'eventi:interesse_evento' object.pk %}" method="POST">
        {% csrf_token %}
        {% if interessato %}
            <button type="submit" name="evento_pk" value="{{object.pk}}">Non mi interessa</button>
        {% else %}
            <button type="submit" name="evento_pk" value="{{object.pk}}">Mi interessa</button>
        {% endif %}
        </form>
        {#    Contatore di utenti interessati    #}
        <strong class="text-secondary">{{ interessati }} Utent{{ interessati|pluralize:'e,i' }} interessat{{ interessati|pluralize:'o,i' }}</strong>
        {#    Link per prenotare o mettersi in lista di attesa    #}
        {% if not object.evento_pieno %}
            <a href="{% url 'eventi:prenota_evento' pk=object.pk %}">Prenota</a>
        {% else %}
            <a href="{% url 'eventi:waitlist_evento' pk=object.pk %}">Mettiti in lista di attesa</a>
        {% endif %}
    {% endif %}
{% endblock %}