{% extends 'base.html' %}
{% load promo_tags %}
{% load user_tags %}

{% block body_tag %}
<body class="container p-0 m-0">
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
    <div class="row vh-100 vw-100 m-0">
        {% block sidebar %}
        <div id="sidebar" class="col col-md-4 col-lg-3 px-3 pt-2 bg-body-tertiary border-end shadow offcanvas-md offcanvas-start ">
            <div class="d-none d-md-block p-3">
                <a href="{% url 'index' %}" class="h4 icon-link icon-link-hover link-body-emphasis text-decoration-none my-auto"
                style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
</svg>
                    Hub Folklore 3.0
                </a>
            </div>
            <div class="offcanvas-header ps-3">
                <div class="offcanvas-title">
                    <a href="{% url 'index' %}" class="h5 icon-link link-body-emphasis text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
</svg>
                        Hub Folklore 3.0
                    </a>
                </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebar" aria-label="Close"></button>
            </div>
        <div class="offcanvas-body ps-3 d-flex flex-column justify-content-between">
            <div class="mt-0 border-bottom">
                <p>Profilo di {{ user.username }}</p>
            </div>
            <ul class="navbar-nav flex-column mb-auto text">
                {% if request.user|is_promotore %}
                <li class="nav-item"><a class="nav-link" href="{% url 'users:promozioni:aggiungi_promozione' %}">Aggiungi una promozione</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'users:promozioni:lista_promozioni' %}">Lista promozioni</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Statistiche</a></li>
                {% elif request.user|is_visitatore %}
                <li class="nav-item"><a class="nav-link" href="{% url 'users:prenotazioni' %}">Prenotazioni effettuate</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'users:waitlist' %}">Eventi in lista di attesa</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'users:interessi' %}">Interessi</a></li>
                    {% endif %}
            </ul>
            <ul class="navbar-nav  flex-column mt-auto text border-top">
                <li><a class="nav-link" href="{% url 'users:update_user' %}">Preferenze del profilo</a></li>
                <li><a class="nav-link" href="{% url 'users:logout' %}">Logout</a></li>
            </ul>
        </div>
        </div>
	    {% endblock %}
        <div class="col px-4 py-3 d-flex flex-column justify-content-baseline">
            <div class="p-2 pb-3 d-md-none d-flex">
                <a href="#" class="link-dark"
                   data-bs-toggle="offcanvas"
                   data-bs-target="#sidebar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </a>
            </div>
            {% block profile_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block footer %}
	
{% endblock %}

{% block banner %}
{% endblock %}