{% extends 'users/base_profile.html' %}
{% load crispy_forms_tags %}

{% block title %} Prenotazioni di {{ user.username }} {% endblock %}

{% block profile_content %}
    <h1>Prenotazioni effettuate</h1>
    {% if object_list %}
    <div class="my-3">
    {% if prenotazioni_attive.count > 0 %}
    <h2 class="text-primary">Prenotazioni attive</h2>
    <div class="row">
    {% for prenotazione in prenotazioni_attive %}
        <div class="col-12 mb-3">
            <div class="card shadow bg-body-secondary">
              <div class="card-body">
                <h5 class="card-title">{{ prenotazione.evento }}</h5>
                  <h6 class="card-subtitle text-secondary">{{ prenotazione.evento.data_ora }}, {{ prenotazione.evento.luogo }}</h6>
                <p class="card-text">{{ prenotazione.posti }} {{ prenotazione.posti|pluralize:'posto prenotato,posti prenotati' }}</p>
                <a href="{% url 'eventi:dettagli_evento' pk=prenotazione.evento.pk %}" class="btn btn-primary shadow-sm">Dettagli evento</a>
                <a href="{% url 'users:delete_prenotazione' pk=prenotazione.pk %}" class="btn btn-danger shadow-sm">Elimina prenotazione</a>
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% endif %}
    {% if prenotazioni_passate.count > 0 %}
        <h2 class="text-secondary mt-3">Prenotazioni passate</h2>
        <div class="row">
        {% for prenotazione in prenotazioni_passate %}
            <div class="col-12 mb-3 mb-sm-0">
            <div class="card shadow bg-secondary-subtle">
              <div class="card-body">
                <h5 class="card-title">{{ prenotazione.evento }}</h5>
                  <h6 class="card-subtitle text-secondary">{{ prenotazione.evento.data_ora }}, {{ prenotazione.evento.luogo }}</h6>
                <p class="card-text">{{ prenotazione.posti }} {{ prenotazione.posti|pluralize:'posto prenotato,posti prenotati' }}</p>
                <a href="{% url 'eventi:dettagli_evento' pk=prenotazione.evento.pk %}" class="btn btn-secondary">Dettagli evento</a>
              </div>
            </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
        </div>
    {% else %}
        <div class="container flex-grow-1 py-3 d-flex flex-column justify-content-center align-items-center text-center text-secondary">
            <div class="container-md">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-calendar2-x w-25" viewBox="0 0 16 16">
                    <path d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708"/>
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </div>
            <h5 class="px-3 mt-3">Non sono state ancora effettuate prenotazioni.</h5>
        </div>
    {% endif %}

{% endblock %}
