{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Profile settings {% endblock %}

{% block content %}
    <h1>Prenotazioni di {{ user.username }}</h1>

    {% include 'users/profile_links.html' %}

    <ul>
    {% for prenotazione in object_list %}
    	<li>{{ prenotazione.evento }} - {{ prenotazione.posti }} {{ prenotazione.posti|pluralize:'posto prenotato,posti prenotati' }} -
            <a href="{% url 'eventi:dettagli_evento' pk=prenotazione.evento.pk %}">Dettagli evento</a> -
            <a href="{% url 'users:delete_prenotazione' pk=prenotazione.pk %}">Elimina prenotazione</a></li>
    {% endfor %}
    </ul>

{% endblock %}