{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
	{{ block.super }}
    {% include 'bg-container.html' %}
{% endblock %}

{% block title %}
	Hub Folklore 3.0
{% endblock %}

{% block body_tag %}
<body class="d-flex flex-column vh-100 bg-container-light" style="">
{% endblock %}

{% block content %}
    <div class="container d-flex flex-column align-items-center">
        <div class="card w-50 px-3 pt-4 pb-2 bg-body-tertiary shadow">
	<h1 class="display-6 mb-4">Cerca tra gli eventi</h1>
            <form method="post" class="mb-2">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary w-100 d-flex justify-content-center icon-link icon-link-hover" type="submit"
                style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg>
                    Cerca</button>
            </form>
        </div>
    </div>
{% endblock %}